body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-image: url(bgimage.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0px 100px;
    color: aliceblue;
}
.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
    display: flex;
}
.group-1{
    display: flex;
    gap: 20px;
}
.nav-item{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.logo p{
    color: aliceblue;
    font-weight: 700;
    font-size: 26px;
    margin-left: 14px;
}
.container.two{
    margin-top: 10%;
}
.header-title{
    margin-left: auto;
    margin-right: auto;
}
.header-title p{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.header-title h1{
    text-align: center;
    font-weight: 600;
    font-size: 64px;
}
.elements{
    margin-left: auto;
    margin-right: auto;
    width: 13em;
    display: flex;
    justify-content: space-around;
}
.main{
    background-color: rgb(33, 33, 33);
    height: 300vh;
}
.main-container{
    padding: 160px 150px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
