body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    background-color: rgb(33, 33, 33);
}
.header{
    background-image: url(assets/images/bgimage.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding: 18px 87px 0px;
}
.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
    display: flex;
}
.group-1{
    display: flex;
    gap: 20px;
}
.nav-item{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.logo p{
    color: aliceblue;
    font-weight: 700;
    font-size: 26px;
    margin-left: 14px;
}
.header-title{
    margin-left: auto;
    margin-right: auto;
    padding: 209px 0px;
}
.header-title p{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.header-title h1{
    text-align: center;
    font-weight: 600;
    font-size: 64px;
}
.elements{
    margin-left: auto;
    margin-right: auto;
    width: 13em;
    display: flex;
    justify-content: space-around;
}
.main{
    background-color: rgb(33, 33, 33);
    padding: 106px 130px;
}
.about{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.text{
    overflow: hidden;
}
#specialcolor{
    color: #4C70EF;
    font-weight: 600;
    font-size: 24px;
}
#specialcolor2{
    color: #4C70EF;
    font-weight: 600;
    font-size: 24px;
}
#specialcolor3{
    color: #4C70EF;
    font-weight: 600;
    font-size: 24px;
}
#im{
    font-size: 36px;
    font-weight: 600;
}
#im2{
    font-size: 36px;
    font-weight: 600;
}
#im3{
    font-size: 36px;
    font-weight: 600;
}
.service{
    padding: 100px 160px;
    text-align: center;
}
#about-text{
    color: #B0ADAD;
    font-size: 18px;
    font-weight: 400;
}
#about-text2{
    color: #B0ADAD;
    font-size: 18px;
    font-weight: 400;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #292C36;
    border-radius: 10px;
    text-align: left;
    padding: 24px;
}
.group-2{
    display: flex;
    align-items: center;
    gap: 10px;
}
#service-text{
    color: #B0ADAD;
    font-size: 18px;
    font-weight: 400;
}
#service-text2{
    color: #B0ADAD;
    font-size: 18px;
    font-weight: 400;
}
#front-back{
    font-size: 24px;
    font-weight: 600;
}
#front-back2{
    font-size: 24px;
    font-weight: 600;
}
.portfolio{
    text-align: center;
}
.portfolio-cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-flow: row wrap;
    padding: 0px 30px;
}

.card2{
    background-color: #292C36;
    text-align: left;
    border-radius: 10px;
}
.rectangle{
    padding-left: 24px;
    padding-bottom: 20px;
}
#rectangle-text{
    font-size: 20px;
    font-weight: 600;
}
#rectangle-text2{
    font-size: 20px;
    font-weight: 600;
}
#rectangle-text3{
    font-size: 20px;
    font-weight: 600;
}
.button{
    background-color: #558FFF;
    padding: 10px 10px;
    width: max-content;
    border-radius: 6px;
}
.button-cards{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 10px 18px;
}
.cta{
    background-color: #292C36;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 78px 0px;
    border-radius: 12px;
    margin: 120px;
    text-align: center;
}
#have-any{
    font-size: 32px;
    font-weight: 600;
}
.footer{
    background-color: #292C36;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 32px;
}
#log{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.COPYRIGHT{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 1300px){
    .about{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text{
        padding: 0px 100px;
    }
    .image{
        margin-top: 30px;
    }
    .main{
        padding: 0px 0px;
    }
    #have-any{
        font-size: 16px;
    }
    .cta{
        margin: 80px
    }
}
@media only screen and (max-width: 627px){
    #have-any{
        font-size: 16px;
    }
    .cta{
        margin: 30px
    }
    .header-line {
        flex-direction: column;
    }
    .header-title h1 {
        font-size: 34px;
    }
    .header-title p {
        font-size: 13px;
    }
    .header {
        height: 400px;
    }
    .container.two {
        padding-top: 50px;
    }
}


